[FRITZ!Box Name]
Protocoll=http://
Hostname=fritz.box
Url=/login_sid.lua
LoginUrlTemplate=?sid=0000000000000000&username=
LoginUrlTemplateMiddle=&response=
Username=
Password=Secret
CertificationPath=/path/to/certificate.pem
CertificationKeyPath=/path/to/privatekey.pem
CertificationPassword=
CertificationUrl=/cgi-bin/firmwarecfg
LogFile=/var/log/fritz-box_update_ssl.log
